USE [master]
GO
/****** Object:  Database [TestCustomer]    Script Date: 09.12.2018 14:23:34 ******/
CREATE DATABASE [TestCustomer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestCustomer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TestCustomer.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestCustomer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TestCustomer_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestCustomer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestCustomer]
GO
/****** Object:  Table [dbo].[CustomerSet]    Script Date: 09.12.2018 14:23:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerSet](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Age] [int] NOT NULL,
 CONSTRAINT [PK_CustomerSet] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderSet]    Script Date: 09.12.2018 14:23:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderSet](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Price] [nvarchar](max) NOT NULL,
	[Quantity] [nvarchar](max) NOT NULL,
	[DateOrder] [nvarchar](max) NOT NULL,
	[CustomerId] [nvarchar](max) NOT NULL,
	[Customer_CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_OrderSet] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_FK_CustomerOrder]    Script Date: 09.12.2018 14:23:35 ******/
CREATE NONCLUSTERED INDEX [IX_FK_CustomerOrder] ON [dbo].[OrderSet]
(
	[Customer_CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderSet]  WITH CHECK ADD  CONSTRAINT [FK_CustomerOrder] FOREIGN KEY([Customer_CustomerId])
REFERENCES [dbo].[CustomerSet] ([CustomerId])
GO
ALTER TABLE [dbo].[OrderSet] CHECK CONSTRAINT [FK_CustomerOrder]
GO
USE [master]
GO
